/*-----------------------------------------------------
Custom Styles
-----------------------------------------------------*/
@font-face {
  font-family: 'Conv_IntrudingCat';
  src: url('fonts/IntrudingCat.eot');
  src: local('☺'), url('fonts/IntrudingCat.woff') format('woff'), url('fonts/IntrudingCat.ttf') format('truetype'), url('fonts/IntrudingCat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn-main {padding-right: 1px!important;}
.btn-main.home-link {padding-right: 25px!important;}
.btn-main .button-default {
  background: #5b0011;
  background: -webkit-linear-gradient(#640012, #46000d);
  background: -moz-linear-gradient(#640012, #46000d);
  background: -o-linear-gradient(#640012, #46000d);
  background: linear-gradient(#640012, #46000d);
  color: #151515;
  border-radius: 0;
  padding: 22px 0;
}
.btn-main .button-default:hover {
  background: #5b0011;
  background: -webkit-linear-gradient(#640012, #a2011f);
  background: -moz-linear-gradient(#640012, #a2011f);
  background: -o-linear-gradient(#640012, #a2011f);
  background: linear-gradient(#640012, #a2011f);
}
.btn-main .button-icon-divider-left {
  position: relative;
  top: inherit;
  left: inherit;
  text-align: center;
  border-right: 0;
  padding: 0 14px;
}
.inner p {color: #1c1b1b;}
.btn-main .button-icon-divider-left .fa {font-size: 28px;}
.ares.tp-bullets {top: 75%!important;}
#slidr .fusion-builder-row-inner {margin-top: -18%;}
#sldrbox.p-reward .fusion-column-inner-bg-image {background-size: contain!important;}
#sldrbox h2 {font-size: 1.72em!important; font-weight: 500; color: #fff893;}
#info-home {border-top: 12px solid #6d010e;}
#info-home h1,#about h1,#dir h1,#dining h1,#casino h1 {font-size: 38px!important; color: #b80018;text-transform: uppercase;}
#entnt-wrap h1 {color: #fff;}
#info-home h2,#about h2,#dir h2,#dining h2,#casino h2, #casino h2 p {font-size: 32px!important; color: #b80018;text-transform: uppercase;}
#casino .custom-box h2 {font-size: 26px!important;}
#about h3, #dir h3, #dining h3, #casino h3 {font-size: 28px!important;color: #b80018;text-transform: uppercase;}
#casino h3 {font-size: 26px!important;}
#info-home h3,#about h4,#dining h4,#casino h4 {font-size: 20px!important;text-transform: uppercase;}
#dining h5 {font-size: 18px!important;color: #b80018;text-transform: uppercase;margin-bottom: 3px;}
#casino h5 {font-size: 18px;}
#dining p,#casino p {font-size: 14px;}
.custom-tabs-menu h4.fusion-tab-heading {font-size: 18px!important;}
.custom-tabs-menu li.active h4.fusion-tab-heading {color: #fff;}
.custom-tabs-menu li:hover h4.fusion-tab-heading {color: #f2f2f2;}
#about .gift-wrapper .imageframe-align-center .gift-card {position: relative;z-index: 1; margin-top: -125px;}
.custom-footermenu {border-top: solid 12px #6d010e;background-color: #130002;}
.custom-footermenu li {text-transform: uppercase;}
#gmap.dlwprk .gm-style .gmnoprint {top:15.5%!important;}
.custom-footerboxes .widget {width: 33%;float: left;padding: 0 15px;}
.custom-2-buttcols .fusion-column-wrapper, .custom-2-buttcols .fusion-column-wrapper .fusion-column-content-centered {min-height: inherit!important;}
.tagbox .fusion-column-wrapper {min-height: inherit!important;}
.poker-red h1 {color:#B40017;text-transform:uppercase;}
.poker-main-boxes p {padding: 0px 20px;}
.poker-box-container {margin: 30px auto !important;max-width: 600px;width: 100% !important;}
#tablepress-poker-schedule-2017 thead th {background: #B70017 !important;color: #fff;}
#tablepress-poker-schedule-2017 h1 {color: #fff;margin: 5px 0 -21px;}
#tablepress-poker-schedule-2017 h2{color: #fff;}
#tablepress-poker-schedule-2017 tbody tr td {height: 48px!important;}
#tablepress-poker-schedule-2017 tbody td {vertical-align: middle;}
.custom-table .reading-box h2 {margin-bottom: 0!important;font-size: 26px!important;}
#faq ul>li>a {text-transform: uppercase;font-size: 20px;}
.custom-li-items li {background-color: #dbdbdb; padding: 2px 0;}
/* --- Custom Fonts --- */
.custom-font-ic, .custom-font-ic h2, .custom-font-ic h3, .custom-font-ic h4 {font-family:'Conv_IntrudingCat',Sans-Serif!important;font-weight:normal!important;text-transform: lowercase!important;color: #fff!important;text-shadow: 2px 2px 2px #000;}
.custom-font-ic h2 {font-size: 36px!important;}
.custom-font-ic h3 {font-size: 32px!important;}
.custom-font-ic h4 {font-size: 28px!important;}
.tp-mask-wrap .custom-font-ic {text-align: center !important; letter-spacing: 2px !important; text-transform: inherit !important; text-shadow: 2px 2px 4px #000 !important;}
/* --- Decor Top Border --- */
.decor {
  -webkit-border-image: url(borderdecor-30x38.jpg) 38 0 0 0 repeat;
  -moz-border-image: url(borderdecor-30x38.jpg) 38 0 0 0 repeat;
  -o-border-image: url(borderdecor-30x38.jpg) 38 0 0 0 repeat;
  border-image: url(borderdecor-30x38.jpg) 38 0 0 0 repeat;
  border-color: #69000e;
  border-style: solid;
  border-width: 30px 0 0 0;
}
/*-----------------------------------------------------
Mega Menu Styles
-----------------------------------------------------*/
.fusion-megamenu-title {
    font-size: 12px!important;
    color: #ffffff!important;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu {
    padding: 5px 0!important;
    border-right: 0px solid transparent!important;
}
.fusion-megamenu-title {
    margin: 0px 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 0px;
}
.fusion-megamenu-wrapper {
    margin: -7px auto 0 auto!important;
    padding: 0 15px!important;
    background: rgba(0,0,0,.2)!important;
}
.fusion-megamenu-wrapper .fusion-megamenu-border {
    border-bottom: 0px!important;
}
.fusion-megamenu {
    background-color: rgba(0,0,0,0.85)!important;}

.fusion-main-menu ul {
    margin-top: 0px!important;
}

.research  {
    width:100%;
}

.research .accordion th {
    cursor: pointer;
    max-width: 923px;
}

.research th {
    padding: 4px;
}
.research th, .research tfoot th {
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 4px solid #006300;
    color: #444;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
}
.research .column-1, .research .column-3, .research .column-5, .research .column-7, .research .column-9, .research .column-11 {
    background-color: #f9f9f9;
}
.research .column-2, .research .column-4, .research .column-6, .research .column-8, .research .column-10, .research .column-12 {
  background-color: #eaeaea;
}

.research td {
    line-height: 22px;
    text-align: center;
}

/*-----------------------------------------------------
Fusion Styles
-----------------------------------------------------*/
.fusion-header {max-height: 67px; background-color: rgba(0,0,0,0.85);}
.fusion-header.fusion-sticky-shadow {height: auto!important;}
.fusion-main-menu {text-transform: uppercase;}
.fusion-main-menu ul {margin-top: -6px;}
.fusion-header-v7 .fusion-middle-logo-ul {align-items: flex-start;}
.fusion-footer {position: relative; z-index: 99;}
.fusion-footer-widget-area .widget-title {color: #624d4f;font-size: 18px;}
.fusion-footer-widget-area-center .col-lg-3 {width: 20%;}
.fusion-columns.fusion-columns-4.fusion-widget-area div.fusion-column:nth-child(2) {width: 40%; text-align: left;}
.no-height .fusion-column-wrapper {min-height: inherit!important;}


/*-----------------------------------------------------
RACING STYLEs
-----------------------------------------------------*/

.racing-decor {
    border-color: #006E14;
    border-image: url("http://dev.thelevelmedia.com/delawarepark/v2/wp-content/uploads/green-bar.jpg") 38 0 0 0 repeat repeat;
    border-style: solid;
    border-width: 30px 0 0;
}
.racing-decor {
    border-color: none;
    border-style: solid;
    border-width: 30px 0 0;
}
#racing-title h1{
    color: #006A13!important;
    font-size: 38px !important;
    text-transform: uppercase!important;
}
#racing-subtitle h2 {  color: #006A13!important;
    font-size: 26px !important;
    text-transform: uppercase!important;}
#tablepress-racing-home-table thead th {background: #ECECEC !important;color: #444;text-shadow:none!important;}
#tablepress-racing-home-table h1 {color: #fff;margin: 5px 0 -21px;}
#tablepress-racing-home-table h2{color: #fff;}
#tablepress-racing-home-table tbody tr td {height: 52px!important;}
#tablepress-racing-home-table tbody td {vertical-align: middle;}
.tablepress-table-name{
    background-color: #006e14;
    color: #fff!important;
    margin: 0;
    padding: 18px 8px;
    text-align: center;
    text-transform: uppercase;
}
* {text-shadow:none!important;}

.active .fusion-toggle-heading {display:none;}
.fusion-accordian .panel-title .fusion-toggle-icon-wrapper {
    float: right!important;
}
.racing .fusion-accordian .panel-title .fusion-toggle-heading {
    color: #006712;
    font-size: 16px;
    margin-left: 0;
    text-transform: uppercase;
}
.fusion-accordian .panel-title .active .fa-fusion-box {
    background-color: #fff;
    border: 1px solid #999;
    color: #999;
}

.fusion-accordian .panel-title a:hover .fa-fusion-box {
    background-color: #fff!important;
    border: 1px solid #999!important;
    color: #999!important;
}
.racing .toggle-content h2 {
    color: #006813;
    font-size: 20px;
    margin: -25px 0 -20px;
    text-transform: uppercase;
}
.toggle-content h4{
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
}

.racing-icon-area .fontawesome-icon.circle-yes {
    background-color: transparent;
}
.content-box-shortcode-timeline, .fontawesome-icon.circle-yes {
    border-color: transparent;
}
.green-title h2 {color: #00CB29; text-transform: uppercase; }

.green-transp-btn{
    background-color: transparent!important;
    border: 1px solid #00ca34!important;
    border-radius: 6px!important;
    color: #00ca34 !important!important;
    margin: 40px 0 0!important;
    padding: 10px!important;
    width: 175px!important;
}

.green-transp-btn span {
    color: #00ca34 !important;
}

.month-table table th {
    background-color: #006a13;
    color: #fff;
    font-size: 18px;
    height: 40px;
}

.month-table table td {
    background-color: #fff;
    color: #444;
    display: block;
    font-size: 58px;
    height: 100%;
    min-height: 98px;
}

.horseman-tables {margin: 10px auto 30px;text-align:center;display:block;width: 100%; max-width: 420px;}
.horseman-tables th { background-color:#006E14; color:#fff; height: 50px; vertical-align:middle; width: 420px;}
.horseman-tables th h2 {
    color: #fff;
    display: block;
    font-size: 20px !important;
    line-height: 20px !important;
    margin: 0;
    text-align: center;
}
.horseman-tables td { background-color:#fff; color:#454545; height: 40px; vertical-align:middle; line-height: 20px; font-size: 14px; width: 420px;}
.horseman-tables td a { color:#454545; text-decoration:none;}


/*-----------------------------------------------------
Media Queries
-----------------------------------------------------*/
@media screen and (min-width: 568px) {
  #sldrbox {width: 50%!important;}
  #sldrbox.p-reward {width: 100%!important;}
}
@media screen and (min-width: 801px) {
  #sldrbox {width: calc(18% - (4% + 4% + 4% + 4%) * 0.2)!important;}
  #sldrbox.p-reward {width: calc(28% - (4% + 4% + 4% + 4%) * 0.2)!important;}
  #sldrbox.p-reward .fusion-column-content {width: 451px; height: 389px;}
  .custom-box {max-width: 100%;width: 600px; margin: 30px auto!important;}
  .custom-box .reading-box {padding: 0;}
  .custom-box h2 {background-color: #b80018; color: #fff!important;padding: 30px 30px 20px;}
  .custom-box .reading-box-additional {padding: 10px 30px 30px;}
  .custom-box ul {margin: auto; text-align: center;}
  .custom-box ul li {display: table;width: auto; padding: 10px 0; margin: auto;}
  .custom-box ul li:last-child {margin-bottom: 30px;}
  .box2cols {width: 100%;}
  .box2cols .reading-box-additional {padding: 15px 30px 30px;}
  .box2cols ul li:last-child {margin-bottom: 0;}
  .custom-table .reading-box-additional {padding: 0;}
  .custom-table .reading-box-additional p {display: none;}
  .brunch .reading-box-additional {padding: 20px;}
}
@media screen and (min-width: 1001px) {
  .btn-main .fusion-button-text-left {display: none;}
}
@media only screen and (min-width: 1001px) and (max-width: 1095px) {
  .btn-main.home-link {padding-right: 1px!important}
  .fusion-is-sticky .fusion-sticky-menu > ul > li,.fusion-main-menu > ul > li {padding-right: 3px;}
  .fusion-main-menu > ul > li > a, .side-nav li a,.fusion-is-sticky .fusion-main-menu > ul > li > a {font-size: 10px;}
}
@media only screen and (min-width: 1096px) and (max-width: 1169px) {
  .btn-main.home-link {padding-right: 1px!important}
  .fusion-is-sticky .fusion-sticky-menu > ul > li,.fusion-main-menu > ul > li {padding-right: 5px;}
  .fusion-main-menu > ul > li > a, .side-nav li a,.fusion-is-sticky .fusion-main-menu > ul > li > a {font-size: 11px;}
}
@media only screen and (min-width: 1170px) and (max-width: 1440px) {
  .btn-main.home-link {padding-right: 22px!important}
  .fusion-is-sticky .fusion-sticky-menu > ul > li,.fusion-main-menu > ul > li {padding-right: 8px;}
  .fusion-main-menu > ul > li > a, .side-nav li a,.fusion-is-sticky .fusion-main-menu > ul > li > a {font-size: 11px;}
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .fusion-main-menu > ul > li {padding-right: 1.1%;}
  .fusion-main-menu > ul > li {padding-right: 13px;}
  .fusion-main-menu > ul > li > a, .side-nav li a {font-size: 12px;}
}
@media only screen and (min-width: 1441px) and (max-width: 1594px) {
  .fusion-main-menu > ul > li {padding-right: 1.5%;}
  .fusion-main-menu > ul > li > a, .side-nav li a {font-size: 14px;}
}
@media only screen and (min-width: 1595px) and (max-width: 1709px) {
  .fusion-main-menu > ul > li {padding-right: 2.4%;}
}
@media only screen and (min-width: 1710px) and (max-width: 1919px) {
  .fusion-main-menu > ul > li {padding-right: 3.1%;}
}
@media only screen and (min-width: 1440px) {
  .fusion-is-sticky .fusion-main-menu > ul > li {padding-right: 3.3%;}
}
@media only screen and (min-width: 1920px) {
  .fusion-main-menu > ul > li {padding-right: 3.5%;}
}
/* ******************* */
@media screen and (max-width: 1170px) {
  #info-home .fusion-column-wrapper {padding:0 50px!important;}
}
@media screen and (max-width: 800px) {
  #sldrbox.p-reward .fusion-column-content {display: block; width: 80%; min-height: 225px;}
  #info-home {margin-top: 0!important;}
  #info-home .fusion-column-wrapper {padding:0 30px!important;}
  .custom-footerboxes .widget {width: 100%;float: none;margin-bottom: 50px;}
}
