/* Icons fix for Themes with Bootstrap */
.rhc .fe-extrainfo-holder [class^="icon-"],
.rhc .fe-extrainfo-holder [class*="icon-"] {
	width: auto;
	height: auto;
	background-image: none;
	background-color: transparent;
	text-align:left;
}
/* end Icons fix for Themes with Bootstrap */

/* single event */ 
@media screen and (max-width:768px) {
	.rhc.fe-extrainfo-container .row-fluid .fe-image-holder.span6 {
		width: 48.717948717948715%;
	}
}

@media screen and (max-width:480px) {
	.rhc.fe-extrainfo-container .row-fluid .fe-image-holder.span6 {
		width: 90%;
	}
	
	.fc-button.fc-button-next, .fc-button.fc-button-nextYear, .fc-button.fc-button-prev, .fc-button.fc-button-prevYear {
		padding:9px 0;
	}
	
	.fc-header .fc-header-cell {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
		margin: 0;
    }

    .fc-header .fc-button.fc-button-prevYear,
    .fc-header .fc-button.fc-button-prev,
    .fc-header .fc-button.fc-button-next,
    .fc-header .fc-button.fc-button-nextYear {
        flex:1 1 auto;
		width: 24%;
		margin: 0 1px 2px;
    }

    .fc-header .fc-button-prev:before,
    .fc-header .fc-button-next:before,
    .fc-header .fc-button-prevYear:before,
    .fc-header .fc-button-nextYear:before {
        transform: translateX(-50%);
        left: 50%;
        text-indent: initial;
    }
	
	.rhcalendar .fullCalendar .fc-header .btn-group .btn.dropdown-toggle.clearfix.btn-small.btn-taxfilter {
    	border-radius:0;
    	margin: 0 auto -8px;
    }
}
/* end single event */

/* FLAT Ui Calendar Widget */
.rhcalendar.for-widget.flat-ui-cal .fullCalendar .fc-header-title {
    margin: 0;
}

.rhcalendar.for-widget.flat-ui-cal .fullCalendar .fc-header-title h2 {
    font-size: initial;
}
.rhcalendar.for-widget.flat-ui-cal .fc-day,
.rhcalendar.for-widget.flat-ui-cal .fc-last .fc-day {
	width:14.2%;
	line-height: 1;
}

.rhcalendar.for-widget.flat-ui-cal .fc-day-number {
	text-align: center;
	float: none;
	padding: 0px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	margin: 0 auto;
	box-sizing: border-box;
	width: 32px;
    height: 32px;
    font-size: 13px;
	vertical-align: middle;
	position: static;
	padding: 10px 0 0;
}

.rhcalendar.flat-ui-cal .fullCalendar .fc-view-month.fc-grid .fc-day .fc-day-number {
    text-align: center;
}

.rhcalendar.for-widget.flat-ui-cal .fc-button:before {
	font-size: 18px;
}

.rhcalendar.for-widget .rhc_calendar_widget_day_click a:focus {
    border:none;
    outline:none;
}


@media screen and (max-width:480px) {
	.rhcalendar.for-widget.flat-ui-cal span.fc-button:before {
		right:0px;
	}
}
/* end FLAT Ui Calendar Widget */

.rhc-empty-header.rhcalendar.not-widget.rhc_holder {
margin-top:0;
}

/*bug fix, multiple organizers are rendered without spacing in the event list.*/
.fe-extrainfo-value.taxonomy-organizer a:not(:last-child):after {
	content: ', ';
}

.fc-is-allday .rhc-widget-show-on-time {
	display:none;
}


.fullCalendar .fc-header-title h2 {
    text-shadow: none;
}
/* Month position with taxonomy dropdowns */
.rhc-has-tax-filter .fullCalendar .fc-header-title {
    top: -35px;
}
/* end Month position with taxonomy dropdowns */

/* Navigation on the right and title for mobile*/
@media screen and (max-width:480px) {
	.fc-header-cell.fc-header-right .fc-button.fc-button-prevYear,
	.fc-header-cell.fc-header-right .fc-button.fc-button-prev,
	.fc-header-cell.fc-header-right .fc-button.fc-button-next,
	.fc-header-cell.fc-header-right .fc-button.fc-button-nextYear {
		display: inline-block;
		width: 25%;
	}
}
/* end Navigation on the right for mobile*/

/* Month view on mobile - other months hide */
@media screen and (max-width:480px) {
	.rhcalendar.fc-small .fullCalendar .fc-content .fc-view.fc-view-month table tbody tr td.fc-other-month {
		visibility:hidden;
		height:0;
	}
}

/* Month View Columns Width */
.rhcalendar.not-widget .fc-view-month.fc-view .fc-first .fc-widget-header:nth-last-child(7) ~ .fc-widget-header {
    width: 14%;
}
/* end Month View Columns Width */

/* Buttons Visited on Events box */
.rhc .fc-button:visited {
    color: #fff;
}

/* Dropdown Filters in Calendar View */
.rhcalendar .rh-flat-ui .dropdown-menu li.active > a:hover,
.rhcalendar .rh-flat-ui .dropdown-menu li.selected > a:hover,
.rhcalendar .rh-flat-ui .dropdown-menu li.active > a.highlighted:hover,
.rhcalendar .rh-flat-ui .dropdown-menu li.selected > a.highlighted:hover,
.rhcalendar .rh-flat-ui .dropdown-menu li.active > a:focus,
.rhcalendar .rh-flat-ui .dropdown-menu li.selected > a:focus,
.rhcalendar .rh-flat-ui .dropdown-menu li.active > a.highlighted:focus,
.rhcalendar .rh-flat-ui .dropdown-menu li.selected > a.highlighted:focus {
	background-color:#3498db;
	color:#FFFFFF;
}

.rhc-ce-holder.rhc-ce-form .dropdown-inverse li > a:hover {
    color: #fff;
}

/* Social Connect */

@font-face {
	font-family: 'social-icons';
	src:url('fonts/social-icons.eot?ht4scm');
	src:url('fonts/social-icons.eot?ht4scm#iefix') format('embedded-opentype'),
		url('fonts/social-icons.ttf?ht4scm') format('truetype'),
		url('fonts/social-icons.woff?ht4scm') format('woff'),
		url('fonts/social-icons.svg?ht4scm#social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sco-btn .sco_social_login [class^=icon-],
.sco-btn .sco_social_login [class*="icon-"],
.sco-btn .icon-wp {
	font-family: 'social-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	margin: 0 5px 0 0;
	position: relative;
	top: 2px;
	font-size: 25px;
}

.sco-btn .icon-wp:before {
	content: "\e607";
}
.sco-btn .sco_social_login .icon-facebook:before {
	content: "\e600";
}
.sco-btn .sco_social_login .icon-youtube:before {
	content: "\e608";
}
.sco-btn .sco_social_login .icon-vimeo:before {
  	content: "\e60c";
}
.sco-btn .sco_social_login .icon-twitter:before {
  	content: "\e605";
}
.sco-btn .sco_social_login .icon-stumbleupon:before {
  	content: "\e60b";
}
.sco-btn .sco_social_login .icon-spotify:before {
  	content: "\e044";
}
.sco-btn .sco_social_login .icon-skype:before {
  	content: "\e604";
}
.sco-btn .sco_social_login  .icon-pinterest:before {
 	content: "\e046";
}
.sco-btn .sco_social_login .icon-myspace:before {
  	content: "\e048";
}
.sco-btn .sco_social_login .icon-linkedin:before {
  	content: "\e603";
}
.sco-btn .sco_social_login .icon-googleplus:before {
  	content: "\e602";
}
.sco-btn .sco_social_login .icon-flickr:before {
  	content: "\e601";
}
.sco-btn .sco_social_login .icon-behance:before {
 	 content: "\e609";
}
.sco-btn .sco_social_login .icon-microsoft:before {
 	 content: "\e606";
}
.sco-btn .sco_social_login .icon-vk:before {
 	 content: "\e90c";
}
.sco-btn .sco_social_login .icon-instagram:before {
 	 content: "\e90b";
}
.sco-btn .sco_social_login .icon-yahoo:before {
 	 content: "\e90a";
}
.sco-btn .sco_social_login .icon-dropbox:before {
 	 content: "\e909";
}
.sco-btn .sco_social_login .icon-tumblr:before {
 	 content: "\e908";
}
.sco-btn .sco_social_login .icon-vimeo:before {
 	 content: "\e907";
}
.sco-btn .sco_social_login .icon-reddit:before {
 	 content: "\e906";
}
.sco-btn .sco_social_login .icon-yandex:before {
 	 content: "\e905";
}
.sco-btn .sco_social_login .icon-github:before {
 	 content: "\e904";
}
.sco-btn .sco_social_login .icon-amazon:before {
 	 content: "\e903";
}
.sco-btn .sco_social_login .icon-disqus:before {
 	 content: "\e902";
}

.sco-btn .sco_social_login .icon-envato:before {
 	 content: "\e900";
}
.sco-btn .sco_social_login .icon-flickr:before {
 	 content: "\e90d";
}
.sco-btn .sco_social_login .icon-bitbucket:before {
 	 content: "\e901";
}
.sco-btn .sco_social_login .icon-mailru:before {
 	 content: "\e90e";
}
.sco-btn .sco_social_login .icon-dribbble:before {
 	 content: "\e910";
}
.sco-btn .sco_social_login .icon-baidu:before {
 	 content: "\e912";
}
.sco-btn .sco_social_login .icon-naver:before {
 	 content: "\e911";
}

.sco-btn .sco_social_login,
.sco-btn .sco-wp {
	font-family: 'Lato';
    font-weight: 300;
	text-transform:initial;
}

.sco-btn {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.sco-btn .sco-wp,
.sco-btn .sco_social_login {
	padding: 13px 20px;
	font-size: 22px;
	text-transform: initial;
	line-height: 1.227;
	border-radius: 6px;
	border: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	display: inline-block;
	 -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.sco-btn .sco_social_login:active,
.sco-btn .sco-wp:active,
.sco-btn .sco_social_login:hover,
.sco-btn .sco-wp:hover{
    outline: -webkit-focus-ring-color none;
    box-shadow: none;
}
.sco-btn .sco-wp {
	color: #ffffff;
	background-color: #21759b;
	background:#21759b;
}

.sco-btn .sco-wp:hover,
.sco-btn .sco-wp:focus,
.sco-btn .sco-wp:active {
	background-color: #d54e21;
	background: #d54e21;
}

.sco-wp:hover,
.sco-wp:focus,
.sco-wp:active,
.sco_social_login:hover,
.sco_social_login:focus,
.sco_social_login:active {
	background-image: none;
	color: #fff;
	outline: -webkit-focus-ring-color auto 0px;
	box-shadow: 0 0 0 transparent;
}
.sco_social_login.sco-pinterest {
  color: #ffffff;
  background-color: #cb2028;
  background: #cb2028;
}
.sco_social_login.sco-pinterest:hover,
.sco_social_login.sco-pinterest:focus,
.sco_social_login.sco-pinterest:active {
  background-color: #d54d53;
  background: #d54d53;
}

.sco_social_login.sco-linkedin {
  color: #ffffff;
  background-color: #0072b5;
  background: #0072b5;
}

.sco_social_login.sco-linkedin:hover,
.sco_social_login.sco-linkedin:focus,
.sco_social_login.sco-linkedin:active {
  background-color: #338ec4;
  background: #338ec4;
}

.sco_social_login.sco-stumbleupon {
  color: #ffffff;
  background-color: #ed4a13;
  background: #ed4a13;
}
.sco_social_login.sco-stumbleupon:hover,
.sco_social_login.sco-stumbleupon:focus,
.sco_social_login.sco-stumbleupon:active {
  background-color: #f16e42;
  background: #f16e42;
}

.sco_social_login.sco-googleplus {
  color: #ffffff;
  background-color: #c0392b;
  background: #c0392b;
}
.sco_social_login.sco-googleplus:hover,
.sco_social_login.sco-googleplus:focus,
.sco_social_login.sco-googleplus:active {
  background-color: #e74c3c;
  background: #e74c3c;
}

.sco_social_login.sco-facebook {
  color: #ffffff;
  background-color: #2f4b93;
  background: #2f4b93;
}
.sco_social_login.sco-facebook:hover,
.sco_social_login.sco-facebook:focus,
.sco_social_login.sco-facebook:active {
  background-color: #596fa9;
  background: #596fa9;
}

.sco_social_login.sco-twitter {
  color: #ffffff;
  background-color: #00bdef;
  background: #00bdef;
}

.sco_social_login.sco-twitter:hover,
.sco_social_login.sco-twitter:focus,
.sco_social_login.sco-twitter:active {
  background-color: #33caf2;
  background: #33caf2;
}


.sco_social_login.sco-microsoft {
  color: #ffffff;
  background-color: #2c3e50;
  background: #2c3e50;
}

.sco_social_login.sco-microsoft:hover,
.sco_social_login.sco-microsoft:focus,
.sco_social_login.sco-microsoft:active {
  background-color: #415b76;
  background: #415b76;
}

.sco_social_login.sco-vk {
  color: #ffffff;
  background-color: #45668e;
  background: #45668e;
}

.sco_social_login.sco-vk:hover,
.sco_social_login.sco-vk:focus,
.sco_social_login.sco-vk:active {
	background-color: #537AA9;
	background: #537AA9;
}

.sco_social_login.sco-instagram {
  color: #ffffff;
  background-color: #125688;
  background: #125688;
}

.sco_social_login.sco-instagram:hover,
.sco_social_login.sco-instagram:focus,
.sco_social_login.sco-instagram:active {
	background-color: #0d3c5f;
	background: #0d3c5f;
}

.sco_social_login.sco-yahoo {
  color: #ffffff;
  background-color: #6E329D;
  background: #6E329D;
}

.sco_social_login.sco-yahoo:hover,
.sco_social_login.sco-yahoo:focus,
.sco_social_login.sco-yahoo:active {
	background-color: #550a76;
	background: #550a76;
}

.sco_social_login.sco-dropbox {
  color: #ffffff;
  background-color: #007ee5;
  background: #007ee5;
}

.sco_social_login.sco-dropbox:hover,
.sco_social_login.sco-dropbox:focus,
.sco_social_login.sco-dropbox:active {
	background-color: #0062b2;
	background: #0062b2;
}

.sco_social_login.sco-tumblr {
  color: #ffffff;
  background-color: #32506d;
  background: #32506d;
}

.sco_social_login.sco-tumblr:hover,
.sco_social_login.sco-tumblr:focus,
.sco_social_login.sco-tumblr:active {
	background-color: #273f56;
	background: #273f56;
}

.sco_social_login.sco-vimeo {
  color: #ffffff;
  background-color: #aad450;
  background: #aad450;
}

.sco_social_login.sco-vimeo:hover,
.sco_social_login.sco-vimeo:focus,
.sco_social_login.sco-vimeo:active {
	background-color: #9dcd35;
	background: #9dcd35;
}

.sco_social_login.sco-reddit {
  color: #ffffff;
  background-color: #ff4500;
  background: #ff4500;
}

.sco_social_login.sco-reddit:hover,
.sco_social_login.sco-reddit:focus,
.sco_social_login.sco-reddit:active {
	background-color: #dd3c00;
	background: #dd3c00;
}

.sco_social_login.sco-yandex {
  color: #ffffff;
  background-color: #ffcc00;
  background: #ffcc00;
}

.sco_social_login.sco-yandex:hover,
.sco_social_login.sco-yandex:focus,
.sco_social_login.sco-yandex:active {
	background-color: #eebe00;
	background: #eebe00;
}

.sco_social_login.sco-github {
  color: #ffffff;
  background-color: #6cc644;
  background: #6cc644;
}

.sco_social_login.sco-github:hover,
.sco_social_login.sco-github:focus,
.sco_social_login.sco-github:active {
	background-color: #5cb236;
	background: #5cb236;
}

.sco_social_login.sco-amazon {
  color: #ffffff;
  background-color: #ff9900;
  background: #ff9900;
}

.sco_social_login.sco-amazon:hover,
.sco_social_login.sco-amazon:focus,
.sco_social_login.sco-amazon:active {
	background-color: #ee8f00;
	background: #ee8f00;
}

.sco_social_login.sco-disqus {
  color: #ffffff;
  background-color: #2e9fff;
  background: #2e9fff;
}

.sco_social_login.sco-disqus:hover,
.sco_social_login.sco-disqus:focus,
.sco_social_login.sco-disqus:active {
	background-color: #0087fa;
	background: #0087fa;
}

.sco_social_login.sco-envato {
  color: #ffffff;
  background-color: #82b541;
  background: #82b541;
}

.sco_social_login.sco-envato:hover,
.sco_social_login.sco-envato:focus,
.sco_social_login.sco-envato:active {
	background-color: #709c38;
	background: #709c38;
}

.sco_social_login.sco-flickr {
  color: #ffffff;
  background-color: #ff0084;
  background: #ff0084;
}

.sco_social_login.sco-flickr:hover,
.sco_social_login.sco-flickr:focus,
.sco_social_login.sco-flickr:active {
	background-color: #0063dc;
	background: #0063dc;
}

.sco_social_login.sco-bitbucket {
  color: #ffffff;
  background-color: #205081;
  background: #205081;
}

.sco_social_login.sco-bitbucket:hover,
.sco_social_login.sco-bitbucket:focus,
.sco_social_login.sco-bitbucket:active {
	background-color: #193f66;
	background: #193f66;
}

.sco_social_login.sco-mailru {
  color: #ffffff;
  background-color:  #168de2;
  background:  #168de2;
}

.sco_social_login.sco-mailru:hover,
.sco_social_login.sco-mailru:focus,
.sco_social_login.sco-mailru:active {
	background-color: #ffa930;
	background: #ffa930;
}

.sco_social_login.sco-dribbble {
  color: #ffffff;
  background-color:  #ea4c89;
  background:  #ea4c89;
}

.sco_social_login.sco-dribbble:hover,
.sco_social_login.sco-dribbble:focus,
.sco_social_login.sco-dribbble:active {
	background-color: #7bbb5e;
	background: #7bbb5e;
}

.sco_social_login.sco-baidu {
  color: #ffffff;
  background-color:  #de0f17;
  background:  #de0f17;
}

.sco_social_login.sco-baidu:hover,
.sco_social_login.sco-baidu:focus,
.sco_social_login.sco-baidu:active {
	background-color: #2529d8;
	background: #2529d8;
}

.sco_social_login.sco-naver {
  color: #ffffff;
  background-color:  #23b300;
  background:  #23b300;
}

.sco_social_login.sco-naver:hover,
.sco_social_login.sco-naver:focus,
.sco_social_login.sco-naver:active {
	background-color: #2ad500;
	background: #2ad500;
}



/* end Social Connect */

/* There is an unidentified condition that in event list is displaying an empty date ( no events )*/
.fc-event-list-date + .fc-event-list-date {
  display: none;
}

/* Eventbrite */
.rhc.fe-extrainfo-container .ebr-buy-ticket-btn-logo-1.fc-button {
    font-size: 21px;
	padding: 3px 15px;

}

.rhc.fe-extrainfo-container .ebr-buy-ticket-btn-logo-1.fc-button .rhceb-icon {
    display: inline-block;
    vertical-align: top;
}

.rhc.fe-extrainfo-container .ebr-buy-ticket-btn-logo-1.fc-button .rhceb-icon:before {
    content: "";
    background-image: url(../images/eventbrite-badge-logo.svg);
    background-size: 100%;
	background-repeat:no-repeat;
   	width: 45px;
	height: 45px;
	display: block;
	margin: -2px 0 0;
}

.ebr-buy-ticket-btn-logo-1.fc-button span.rhc-buy-ticket-label {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
}

.ebr-buy-ticket-btn-logo-2.ebr-buy-ticket-btn {
    background-image: url(../images/eventbrite-logo.svg);
    background-color: transparent;
    background-size: 100%;
	background-repeat:no-repeat;
   	width: 200px;
	height: 70px;
    margin: 0;
    display: block;
}

.ebr-buy-ticket-btn-logo-2.ebr-buy-ticket-btn span.rhc-buy-ticket-label {
	display:none;
}

.rhc-info-cell .rhceb-tickets-preview {
    margin: 20px 0 0;
}

/* end Eventbrite */


/* Edit Events (Community Events) */
.rhc-ce-holder .fui-trash:before,
.rhc-ce-holder .icon-edit:before {
	font-family: 'Calendarize-it';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    display: inline-block;
    transition: .25s linear;
    -webkit-transition: .25s linear;
    background-color:#3498db;
    color:#fff;
    padding:10px;
    border-radius:4px;
    transition:.32s linear;
    -webkit-transition:.32s linear;
    -moz-transition:.32s linear;
    font-size:20px;
	position: relative;
	top: 5px;
}

.rhc-ce-holder .fui-trash:before {
	background-color:#e74c3c;
}

.rhc-ce-holder .fui-trash:hover:before {
	background-color:#c0392b;
}

.rhc-ce-holder .icon-edit:before {
	background-color:#2ecc71;
}

.rhc-ce-holder .icon-edit:hover:before {
	background-color:#27ae60;
}

.rhc-ce-holder.rhc-ce-form .fui-trash:before {
	content:"\e60d";
}

.rhc-ce-holder .icon-edit:before {
	content:"\e60e";
	margin-right:10px;
}

.rhc-ce-holder a {
	color:#000;
}

.rhc-ce-holder a:hover,
.rhc-ce-holder a:focus {
	color:#000;
}
/* end Edit Events (Community Events) */

/* Image on calendar view */
.rhcalendar .fc-content  a.fc-event.has-fc-image {
    border-radius: 0;
    border:none;
}

.rhcalendar .fc-content a.fc-event.has-fc-image .fc-event-inner {
    padding: 3px;
}

.rhcalendar .fc-content a.fc-event.has-fc-image .fc-image-cont {
    position: relative;
    top: -3px;
    left: -3px;
}

.rhcalendar .fc-content  a.fc-event.has-fc-image img.fc-image {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    /* height: auto !important; causes bug, month view image renders incorrect heigh erratically */
    max-width: 100%;
    min-height: 100px;
    max-height: 132px;
}

.rhcalendar .fc-content a.fc-event.has-fc-image span.fc-event-time {
    padding: 0 0 0 2px;
}

.rhcalendar .fc-content a.fc-event.has-fc-image span.fc-event-title {
}

/* end Image on calendar view */

/* Events Box buttons */
.rhc.fe-extrainfo-container .fc-button {
    height: auto;
    line-height: 1.1;
    padding: 8px 10px;
	box-sizing: border-box;
}
/* end Events Box buttons */

/* Tooltip buttons */
.fct-tooltip .fct-body a {
    box-sizing: border-box;
}
/* end Tooltip Buttons */

/* upcoming events in widget area */
.widget .rhc-widget-upcoming-item .rhc .row-fluid [class*="span"] {
    width: 100%;
    float: none;
    display: block;
	margin: 0;
}

.widget .rhc-widget-upcoming-item .rhc .row-fluid [class*="span"]:empty {
    display:none;
}

.widget .rhc-widget-upcoming-item .rhc label {
    margin: 5px 0 10px;
}

.widget .rhc-widget-upcoming-item .rhc a {
    line-height: 1.3;
}

.widget .rhc-widget-upcoming-item .rhc .fe-image-holder img {
    width: 100%;
    right: 0;
    float: none;
    box-sizing: border-box;
    margin: 0;
}

.widget .rhc-widget-upcoming-item .rhc .row-fluid .fe-image-holder {
    margin: 0 0 -2px;
}
/* end upcoming events in widget area */

/* Visited event on calendar */
.fullCalendar a.fc-event:visited {
    color: #fff;
}
/* end Visited event on calendar */
/* VC fixes */
.fe-extrainfo-container .fe-extrainfo-holder > .wpb_row {
    margin-bottom: 0;
}

.vc_row .wpb_wrapper > .rhc-sc-date {
    display: block;
}

.vc_row .wpb_wrapper > .rhc-sc-date > strong {
    display: block;
}

.vc_row .wpb_wrapper > .rhc-sc-date > .rhc-sc-date {
    margin-right: 15px;
}

/* vc-columns fix */
.vc_column_container .fe-extrainfo-container,
.vc_column_container .fe-extrainfo-container * {
    box-sizing: border-box;
}

.vc_column_container .fe-extrainfo-container .fe-extrainfo-holder {
    padding: 10px;
}

.vc_column_container .fe-extrainfo-container .fe-extrainfo-holder .wpb_column {

}

.vc_column_container .fe-extrainfo-container .fe-extrainfo-holder .wpb_column .wpb_wrapper > div:last-child .rhc-venuebox-row {
    margin-bottom: 0;
}

.vc_column_container .fe-extrainfo-container .vc_column_container .wpb_wrapper > div > span > .rhc-venuebox-row {
    margin-bottom: 5px;
}

.vc_column_container .rhc-gmap-holder {
    padding: 5px;
    border: 1px solid #ebebeb;
    background-color: #fff;
}

.vc_column_container img.rhc_dbox_image {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ebebeb;
}

.fe-extrainfo-value span.rhc-sc-date {
    margin-right: 5px;
}

@media screen and (max-width:500px) {
	.fe-extrainfo-container .wpb_column {
		margin: 0 0 20px;
	}
	
	.fe-extrainfo-container .wpb_column:last-child {
		margin-bottom: 0;
	}
	
	
}
/* end VC fixes*/

/* RSVP Social Connect */
.cit_rsvp #rsvp_next.btn.btn-embossed {
    font-size: 22px;
    font-weight: 300;
    padding: 13px 20px !important;
    line-height: 1.227;
    box-shadow:none;
}

.cit_rsvp .columbox a.btn[class*="btn-social"] {
    margin: 0 5px 5px 0;
    font-family: 'Lato';
    width: auto;
    float: none;
    padding: 13px 20px !important;
    font-size: 22px;
    font-weight:300;
    line-height: 1.227;
    border-radius: 4px;
    border: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    display: inline-block;
    box-shadow:none;
}

.cit_rsvp .btn.btn-sm > [class^="fui-"],
.cit_rsvp .input-group-sm .btn > [class^="fui-"] {
	top:2px;
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i:before {
    font-family: 'social-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

	/* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-wp:before {
	content:"\e607";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-twitter:before {
	content:"\e605";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-facebook:before {
	content:"\e600";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-googleplus:before {
	content:"\e602";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-linkedin:before {
	content: "\e603";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-youtube:before {
	content: "\e608";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-vimeo:before {
  	content: "\e60c";
}

.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-stumbleupon:before {
  	content: "\e60b";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-spotify:before {
  	content: "\e044";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-skype:before {
  	content: "\e604";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-pinterest:before {
 	content: "\e046";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-myspace:before {
  	content: "\e048";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-flickr:before {
  	content: "\e601";
}
.cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-behance:before {
 	 content: "\e609";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-microsoft:before {
 	 content: "\e606";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-vk:before {
 	 content: "\e90c";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-instagram:before {
 	 content: "\e90b";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-yahoo:before {
 	 content: "\e90a";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-dropbox:before {
 	 content: "\e909";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-tumblr:before {
 	 content: "\e908";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-vimeo:before {
 	 content: "\e907";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-reddit:before {
 	 content: "\e906";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-yandex:before {
 	 content: "\e905";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-github:before {
 	 content: "\e904";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-amazon:before {
 	 content: "\e903";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-disqus:before {
 	 content: "\e902";
}

 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-envato:before {
 	 content: "\e900";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-flickr:before {
 	 content: "\e90d";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-bitbucket:before {
 	 content: "\e901";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-mailru:before {
 	 content: "\e90e";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-dribbble:before {
 	 content: "\e910";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-baidu:before {
 	 content: "\e912";
}
 .cit_rsvp .columbox a.btn[class*="btn-social"] i.fui-naver:before {
 	 content: "\e911";
}
/**/

.fe-extrainfo-holder a.btn.btn-embossed {
    box-shadow: none;
}

button#get_loading_data {
    box-shadow: none;
}

@media screen and (max-width:480px) {
	.cit_rsvp .columbox .span12.first.buttoncontrole {
		width: 100%;
		margin-left: 0 auto;
	}
	
   .cit_rsvp #rsvp_next.btn.btn-embossed {
        width:100%;
	   display:block;
    }

    .cit_rsvp .columbox a.btn[class*="btn-social"] {
        width: 100%;
		display:block;        
    } 

    .cit_rhc_rating_ .select.select-block .btn {
        font-size:19px;
        margin: 0;
    }

    .rhc .cit_rhc_rating_ .btn.btn-sm,
    .rhc .cit_rhc_rating_ .input-group-sm .btn,
    .rhc .cit_rhc_rating_ .columbox a.btn {
        width: 100%;
        font-size: 19px;
        display: block;
        position: relative;
    }
	
	.rhc .cit_rhc_rating_ .btn.btn-sm,
	.rhc .cit_rhc_rating_ .input-group-sm .btn,
	.rhc .cit_rhc_rating_ .columbox a.btn {
		font-size:19px !important;
	}

}
/* end RSVP Social Connect */

/* Links on WP 2016 Theme */
.rhc .row-fluid.fe-sortable a {
    border: 0;
	box-shadow: none;
}
/* WP 2016 Theme fix*/
.events .post-thumbnail {
    display: none;
}

.events.hentry.has-post-thumbnail {
    padding-top: 20px;
}
/* Header title on mobile */
@media screen and (max-width:480px) {
	body .rhcalendar.not-widget.rhc_holder.fc-small {
		margin-top: 40px;
	}
	
	body .rhcalendar .fullCalendar .fc-header-cell .fc-header-title {
		margin-top: 20px;
		top: -60px;
	}
}

/* Map dialog */
.gm-style .gm-style-iw {
    margin-top: 8px;
    margin-left: -15px;
}

/* Drop down taxonomies mobile */
@media screen and (max-width:480px) {
	.rhcalendar .tax_filter_holder .dropdown-menu li a:hover {
		background-color:transparent;
		color:#fff;
	}
}
/* Link Shadow on 2017 */
.rhcalendar a {
	box-shadow:none;
}

.cit_rsvp a {
    box-shadow:none;
}
/* end Link Shadow on 2017 */

.fc-grid.fc-view-month .fc-day-number {
	float:none;
}

/* No icons on events box */
.fe-extrainfo-container [class*="rhc-icon-"]:before {
    display: none;
}
/* end no icons on events box */

/* Dropdown in navigation */
.rhcalendar .fullCalendar .btn-group .btn.dropdown-toggle.clearfix.btn-small.btn-taxfilter {
    padding: 9px 40px 10px 12px;
}
/* end Dropdown in navigation */

/* post info boxes - local tz*/
.rhc-local-tz .rhc_date {
	opacity: 0;
}

.rhc-local-tz .rhc_date.rhc-local-tz-rend {
	opacity: 1;
}

/* Tooltip long url break */
.fct-body .fc-description {overflow-wrap: break-word;word-wrap: break-word;}
/* end Tooltip long url break */


/* rtl fix for mobile view */
.fc-small .fc-rtl .fc-view-month tr.fc-week {
	
}

.fc-small .fc-rtl tr.fc-week {
	float: left;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width:100%;
}

.fc-small .fc-rtl tr.fc-week td.fc-day {

	/*position: relative;*/
	float: right;
	display: block;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width:100%;
}
/* end rtl fix */

/* FLAT UI - year view button */
.rhcalendar.for-widget.flat-ui-cal .fc-button.fc-button-rhc_year {
    display:none;
}

/* end FLAT UI - year view button */

/* Term count */
.tax_filter_holder .dropdown-menu.rhc-with-tax-color li a {
    color: #ffffff;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    position: relative;
}

.rhcalendar .dropdown-menu.rhc-with-tax-color .pull-left {
    float: none !important;
    width: 100%;
    white-space: normal;
    padding-left: 30px;
    padding-right: 25px;
    display: inline-block;
}

.rhc-supe .dropdown-menu i.fbd-term-count,
.rhcalendar .dropdown-menu i.fbd-term-count {
    float: right;
    border: 1px solid #fff;
    width: auto;
    height: 20px;
    padding: 0 5px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.rhcalendar .dropdown-menu.rhc-with-tax-color i.fbd-term-count {
	position: absolute;
	top: 7px;
	right: 15px;
}

/* end Term Count*/

/* Position of events inside td */
html body .fc-small .fullCalendar tr td.fc-day {
	position:static;
}
/* end Position of events inside td */

.rhcalendar a.fc-event,
.entry .rhcalendar a.fc-event,
.entry .entry-content .rhcalendar a {
    text-decoration: none;
}

.fullCalendar .fc-agenda table.fc-agenda-allday td.fc-last {
	border: none;
}

/* Gutenberb admin fix */
.editor-block-list__block-edit .fullCalendar .fc-header-cell .fc-head-control {
    width: auto;
    vertical-align: top;
    padding: 0;
    margin-right: 10px;
}

.editor-block-list__block-edit .rhcalendar.not-widget .fc-view-month.fc-view .fc-first .fc-widget-header {
    text-align: center;
}
/* end Gutenberb admin fix */