
.BookPrint {
	display: none;
}

#mosCenter {
    background-color: white !important;
}

#mosCenterleft {
    width: 100% !important;
}

#mosLoginForm {
	background-color: white !important;
}

#mosContentSignup {
	background-color: white !important; 
}

#bookletContainer { 
    width: 830px; 
}

#bookletContent {
    width: 800px; 
}

.ThumbNavNums {
    margin-top: -35px !important; 
}

.slider {
	overflow: visible !important;
}

button:focus, img:focus {
	outline: none;
	border-radius: 5px !important;
	border: 1px solid #4d90fe; 
}

#promoGridBox {
    width: 350px !important;
    margin-top: 20px !important;
}

/*
#promoGridBoxImage { 
    height: 340px !important;
    border: 0px !important;
    height: 100% !important; 
}
*/

#promoGridBoxImage { 
     border: 0 !important; 
     height: auto !important;
}

#promoGridBoxImage img { 
     /*height: 467px !important; */
     height: auto !important;
}

#sliderContainer {
    width: 830px; 
}

.regular {
    height:  0  !important; 
}

.dots {
    display: none !important; 
}