
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	   /*height: auto;*/
	   width: 100%;
	}

	.mosTemplateHR-top {
		display: none;
	}

	.mosTemplateHR-bottom {
		display: none;
	}

	#mosContainer {
		overflow: hidden;
		/*min-height: 100%;*/
		background: white;
		/*border: 1px solid red;*/
	}

	#mosHeader {

	}

	#mosBody {
	   /*padding:10px;*/
	   /*padding-bottom:100px;   /* Height of the footer */ /* plus MOS Logo */
	}

	#mosFooter {
		position: absolute;
   		bottom: 0;
   		width: 100%;
   		height: 122px;   /* Height of the footer */
   		/*background:#6cf;*/
	}

	/* End of Main Body Stuff */

	#mosCenter {
		margin: 0 auto;
		width: 100%;
		min-height: 100%;
		/*border: 1px solid green;*/
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
		/*box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2), 0px -1px 20px 0 rgba(0, 0, 0, 0.19); */
		/*border-radius: 7px;*/
		/*border: 2px solid #af976d;*/
    	background-color: #e8e8e8;
	}

	#mosCenterleft {
		margin: 0px auto;
    		width: 65%;
		float: left;
		/*border: 1px solid red;*/

	}

	#mosCenterRight {
		width: 100%;
		float: left;
		/*margin-top: 50px;*/
		/*border: 1px solid black;*/
	}

	#mosBooklet {
	  	margin: 0 auto;
		width: 100%;
		/*border: 2px solid #0083bf;*/
	}

	#mosPopupCenter {
		 width: 800px;
		 margin: 0 auto;
		 /*background-color: rgb(247, 240, 241);*/
		 background-color: white;
		 padding: 10px;
	}

	#mosContentWrapper {
	    width: 630px;
	    margin: 0 auto;
	}

	#mosContent {
		margin: 0 auto; /*margin-top: 25px; margin-bottom: 50px;*/ width: 100%; /*font-size: 24px;*/
	}

	#mosContent p {
		/*font-size: 20px;*/ font-size: 16px; font-weight: normal; /*line-height: 24px;*/
	}

	#mosContentTitle {
		margin: 0 auto; font-size: 18px; font-weight: bold; margin-top: 15px; padding-left: 5px; padding-right: 5px; width: 85%;
	}

	.mosContentLoginTitle {
		margin: 0 auto; font-size: 18px; font-weight: bold; margin-top: 15px; padding-left: 5px; padding-right: 5px;
	}

	#mosContentMsg {
		margin-left: 0px;  /*font-size: 20px;*/ font-size: 16px; margin-bottom: 5px; color: red; text-align: center;
	}

	#mosContentSignup {
		margin: 0 auto; width: 600px;
		/*background-color: white;*/
    	background-color: #e8e8e8;
    	padding-left: 20px;
	}

	#mosContentChoices {
		width: 100%; text-align: center; padding-bottom: 10px; padding-top: 10px;
	}

	.mosTopLineSpacer {
		display: block;
	}

	#mosSignUpButton {
		width: 160px;
	}

	.mosSignup {
		float: left; width: 100%; padding-bottom: 7px;
	}

	.mosSignup label {
		width: 180px !important;
		float: left; /* for Turning Stone */
	}

	.mosSignup input, select, button {
		max-width: 260px !important;
	}

	#mosResetForm {
   		margin-top: 0px;
   }

	#mosResetForm form {
	    width: 600px;
   		margin: 0 auto;
   		padding: 30px 10px 10px 10px;
	}

	#mosResetForm label {
		width: 270px;
    	padding-bottom: 7px;
	}

	#mosResetButton {
		float: none; padding: 15px; text-align: center; width: 100%; display: inline-block;
	}

	#mosResetButton input {
		cursor: pointer; font-size: 14pt; color: white;
	}

	#MOS {
		float: right;
		font-weight: bold;
    	/*color: #221D1E;*/		/* MOS Normal */
		font: 11px "gotham_book", "Arial", "Helvetica", sans-serif;
		margin-right: 10px;
    	width: 180px;
	}

	#MOS-footer {
		display: none;
		font-weight: bold;
    	/*color: #221D1E;*/		/* MOS Normal */
		font: 14px "gotham_book", "Arial", "Helvetica", sans-serif;
		margin-top: -20px;
		text-align: center;
		width: 180px;
	}

	.mosCenterText {
		text-align: center;
	}

	/*
	***************************************************
	  CSS For Login pages
	***************************************************
	*/
	#firstTimeUser {
	    margin-bottom: 20px;    float: left;
	}

	#firstTimeUserTitle {
	    font-weight: bold; padding-right: 15px;
	}

	#helpArea {
		text-decoration: none;
	}

	#helpArea a {
		text-decoration: none;
		float: left;
	}

	#mosLoginForm {
    	/*background-color: white;*/
    	background-color: #e8e8e8;
    	width: 100%;
    	margin: 0 auto;
    	margin-bottom: 20px;
	}

	/*
	#mosLoginForm form {
	    width: 360px;
    	margin: 0 auto;
	}*/

	#mosLoginFormLine {
		/*width: 100%;*/
		text-align: center;
		/*float: left;*/
		margin-bottom: 0px !important;
		padding: 3px;
	}

	#mosLoginFormLine label {
		display: inline-block; vertical-align: middle; width: 170px; /*text-align: left;*/ font-size: 16px; height: 30px;
    	margin-bottom: 0px !important;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	padding: 3px;
	}

	#mosLoginFormLine input {
		/*display: inline-block;*/ vertical-align: middle; width: 160px; font-size: 16px; padding: 3px; height: 30px;
	}

	#mosLoginButton {
		float: none; padding-top: 15px; text-align: center; width: 100%; display: inline-block;
	}

	#mosLoginButton input {
		cursor: pointer; /*font-size: 14pt; /*color: white*/ width: 160px;
	}

	.mosLoginErrorMsg {
		font-size: 18px; font-weight: bold; color: red; text-align: center;
	}

	.mosLoginTitle {
		text-align: center; margin: 0 auto; margin-top: 60px; width: 600px; font-size: 24px; font-weight: bold; padding: 15px; /*height: 330px*/;
	}

	.mosLoginInfo {
		margin: 0 auto; width: 100%; font-size: 18px; line-height: 25px; padding-top: 10px; padding-bottom: 10px;
	}

	.mosLoginErrorMsg {
		font-size: 18px; font-weight: bold; color: red; text-align: center;
	}

	.mosLogin {
		float: left; width: 100%;
	}

	.mosLogin label {
		display: inline-block; vertical-align: middle; font-size: 18px; width: 110px;
	}

	.mosLogin input {
		display: inline-block; vertical-align: middle; font-size: 18px; width: 150px; padding-left: 10px;
	}

	.mosLoginSubmit input {
		cursor: pointer; height: 35px; width: 100px; font-size: 12pt;
	}

	/***************************************************/
	/* Modial Popup Stuff */
	/***************************************************/

	.w3-modal {
	    z-index: 3;
	    display: none;
	    padding-top: 20px;
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0, 0, 0, 0.85);
	    font-family: "gotham",Arial,Helvetica,sans-serif;
	 }

	 .w3-closebtn {
	    text-decoration: none;
	    float: right;
	    font-size: 24px;
	    font-weight: bold;
	    color: black;
	}

	 .w3-red, .w3-hover-red:hover {
	    color: #fff!important;
	    background-color: #f44336!important;
	}


	.w3-container {
	    /*padding: 0.01em 16px;*/
	    padding-left: 10px;
		padding-right: 10px;
		height: 35px;
	}

	.w3-white, .w3-hover-white:hover {
	    color: #000!important;
	    background-color: #fff!important;
	}

	.w3-animate-top {
	    position: relative;
	    -webkit-animation: animatetop 0.4s;
	    /* animation: animatetop 0.4s; */
	}

	.w3-card-8 {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
	}

	.w3-btn, .w3-btn-floating, .w3-dropnav a, .w3-btn-floating-large, .w3-btn-block, .w3-navbar a, .w3-navblock a, .w3-sidenav a, .w3-pagination li a, .w3-hoverable tbody tr, .w3-hoverable li, .w3-accordion-content a, .w3-dropdown-content a, .w3-dropdown-click:hover, .w3-dropdown-hover:hover, .w3-opennav, .w3-closenav, .w3-closebtn, *[class*="w3-hover-"]
	{
    	-webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
    	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	}

	/***************************************************/
	/* Responsive Structure */
	/***************************************************/

	@media only screen and (max-width: 1280px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
			margin-top: 0px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
		    width: 100%;
		    margin-top: 0px;
		}

		#mosCenterRight {
    		width: 100%;
    		margin-top: 20px;
		}

		#mosContent {
			width: 100%;
		}

		#mosContentSignup {
			width: 560px;
		}

		#mosPopupCenter {
		    transform: scale(1.2);
		    -webkit-transform: scale(1.2);
		    -moz-transform: scale(1.2);
		    -o-transform: scale(1.2);
		    margin-left: 115px;
		    margin-top: -10px;
		}

		#mosBody {
		}

	}

	@media only screen and (max-width: 1112px) {	/* 2017 iPad 10.5" */
	/* @media only screen and (max-width: 1024px) { */

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
		    margin-top: 0px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
			width: 100%;
    		margin-top: 0px;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
    			margin-top: 20px;
		}

		#mosContent {
			width: 100%;
		}

		#mosContentSignup {
			width: 560px;
		}

		#mosPopupCenter {
		    transform: scale(1.2);
		    -webkit-transform: scale(1.2);
		    -moz-transform: scale(1.2);
		    -o-transform: scale(1.2);
		    margin-left: 115px;
		    margin-top: -10px;
		}

		#mosBody {
		}

	}

	@media only screen and (max-width: 800px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
		    margin-top: 0px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
			width: 100%;
			margin-top: 0px;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 95%;
    			margin-top: 20px;
		}

		#mosContent {
			width: 100%;
		}

		#mosContentSignup {
			width: 540px;
			padding-left: 0px;
		}

		#mosPopupCenter {
		    transform: scale(.95);
		    -webkit-transform: scale(.95);
		    -moz-transform: scale(.95);
		    -o-transform: scale(.95);
		    margin-left: -16px;
		}

		#mosBody {
		}
	}


	@media only screen and (max-width: 767px) { /* Resorts Fix */

		#mosLoginButton input {
			height: auto;
		}

		#mosSignUpButton {
			height: 25px !important;
		    font-size: 15px;
		    padding: 0 !important;
		}

		#mosResetButton {
			height: auto;
		    font-size: 15px;
		    padding: 0 !important;
		}
	}


	@media only screen and (max-width: 640px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
			margin-top: 0px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
			width: 100%;
			margin-top: 0px;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
			margin-top: 10px;
		}

		#mosContent {
			width: 80%;
			margin-top: 5px;
			margin-bottom: 0px;
		}

		#mosContentSignup {
			width: 360px;
    		padding-left: 0px;
		}

		.mosSignup label {
		    width: 100% !important;
		}

		#mosLoginForm, #mosResetForm form {
			/*width: 300px;*/
		}

		.w3-modal {
			overflow: hidden !important;
		}

		#mosPopupCenter {
			transform: scale(.55);
			-webkit-transform: scale(.55);
		    -moz-transform: scale(.55);
		    -o-transform: scale(.55);
    		margin-left: -80px;
		}

		#MOS {
			display: block;
    		margin: 0 auto;
    		float: none;
		}

		#MOS-footer {
			display: block;
		}

		#mosBody {
		}

		/* fix scroll issue on mobile phones w/lightbox */
		/*
		.lb-disable-scrolling {
	    		overflow: hidden;
   		}

   		.lb-outerContainer {
   	    		overflow: hidden;
   		}
   		*/
	}

	@media only screen and (min-width: 378px) and (max-width: 480px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		#firstTimeUserTitle {
			padding-left: 5px;
			padding-right: 5px;
		}

		#helpArea a {
    		float: none;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
			margin-top: 0px;
			width: 100% !important;
		}

		#mosCenterleft {
    		margin-top: 0px;
		}

		#mosCenterRight {
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
			margin-top: 20px;
		}

		#mosContent {
			width: 80%;
			margin-top: 5px;
			margin-bottom: 0px;
		}

		#mosContentSignup {
			width: 310px;
			padding-left: 20px;
		}

		.mosSignup label {
		    width: 100% !important;
		}

		.mosTopLineSpacer {
			display: none;
		}

		#MOS {
			display: block;
    		margin: 0 auto;
    		float: none;
		}

		#mosBody {
		}

		.lightbox {
		    margin-left: 0px;
		}

		/* fix scroll issue on mobile phones w/lightbox */
		/*
		.lb-disable-scrolling {
	    		overflow: hidden;
   		}

   		.lb-outerContainer {
   	    		overflow: hidden;
   		}
   		*/
	}


	@media only screen and (max-width: 375px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		#firstTimeUserTitle {
			padding-left: 5px;
			padding-right: 5px;
		}

		#helpArea a {
    		float: none;
		}

		.BookPrint {
			display: none;
		}

		#mosCenter {
			margin-top: 10px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		    border: 0px;
		}

		#mosCenterleft {
			width: 100%;
			margin-top: 0px;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
			margin-top: 20px;
		}

		#mosContent {
			width: 80%;
			margin-top: 5px;
			margin-bottom: 0px;
		}

		#mosContentSignup {
			width: 310px;
			padding-left: 20px;
		}

		.mosSignup label {
		    width: 100% !important;
		}

		.mosTopLineSpacer {
			display: none;
		}

		#mosPopupCenter {
			transform: scale(.43);
			-webkit-transform: scale(.43);
		    -moz-transform: scale(.43);
		    -o-transform: scale(.43);
			margin-left: -210px;
    		margin-top: -150px;
		}

		#mosLoginForm, #mosResetForm form {
			/*width: 300px;*/
		}

		#MOS {
			display: block;
    		margin: 0 auto;
    		float: none;
		}

		#MOS-footer {
			display: block;
		}

		#mosBody {
		}

		/* fix scroll issue on mobile phones w/lightbox */
		/*
		.lb-disable-scrolling {
	    		overflow: hidden;
   		}

   		.lb-outerContainer {
   	    		overflow: hidden;
   		}
		*/
	}


	@media only screen and (max-width: 360px) {

		#mainbody {			/* For Resorts Only*/
			width: 100% !important;
			height: 100% !important;
		}

		#firstTimeUserTitle {
			padding-left: 5px;
			padding-right: 5px;
		}

		#helpArea a {
    		float: none;
		}

		.BookPrint {
			display: none;
		}

		#mosContainer {
			/*margin-top: 10px;*/
		}

		#mosCenter {
			margin-top: 0px;
		    width: 100% !important;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
			width: 100%;
			margin-top: 0px;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
			margin-top: 20px;
		}

		#mosContent {
			width: 80%;
			margin-top: 5px;
			margin-bottom: 0px;
		}

		#mosContentSignup {
			width: 310px;
			padding-left: 20px;
		}

		.mosSignup label {
		    width: 100% !important;
		}

		.mosTopLineSpacer {
			display: none;
		}

		#mosPopupCenter {
			transform: scale(.45);
			-webkit-transform: scale(.45);
		    -moz-transform: scale(.45);
		    -o-transform: scale(.45);
			margin-left: -228px;
    		margin-top: -150px;
		}

		#mosLoginForm, #mosResetForm form {
			/*width: 300px;*/
		}

		#MOS {
			display: block;
    		margin: 0 auto;
    		float: none;
		}

		#MOS-footer {
			display: block;
		}

		#mosBody {
		}

		/* fix scroll issue on mobile phones w/lightbox */
		/*
		.lb-disable-scrolling {
	    		overflow: hidden;
   		}

   		.lb-outerContainer {
   	    		overflow: hidden;
   		}
		*/
	}

	@media only screen and (max-width: 320px) {

		#mainbody {			/* For Resorts Only*/
			width:  100% !important;
			height: 100% !important;
		}

		#firstTimeUserTitle {
			padding-left: 5px;
			padding-right: 5px;
		}

		#helpArea a {
    		float: none;
		}

		.BookPrint {
			display: none;
		}

		#mosContainer {
			margin-top: 0px;
		}

		#mosCenter {
		    width: 100%;
		    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
		}

		#mosCenterleft {
			width: 100% !important;
		}

		#mosCenterRight {
			width: 100%;
			margin-top: 20px;
		}

		#mosContentWrapper {
			width: 90%;
			margin-top: 20px;
		}

		#mosContent {
			width: 80%;
			margin-top: 5px;
			margin-bottom: 0px;
		}

		#mosContentChoices {
		    padding-top: 5px;
		}

		#mosContentSignup {
			width: 260px;
			padding-left: 0px;
		}

		.mosSignup label {
		    width: 100% !important;
		}

		.mosTopLineSpacer {
			display: none;
		}

		#mosPopupCenter {
			transform: scale(.40);
			-webkit-transform: scale(.40);
		    -moz-transform: scale(.40);
		    -o-transform: scale(.40);
			margin-left: -240px;
    		margin-top: -150px;
		}

		#mosLoginForm, #mosResetForm form {
			/*width: 300px;*/
		}

		#MOS {
			display: block;
    		margin: 0 auto;
    		float: none;
		}

		#MOS-footer {
			display: block;
		}

		#mosBody {
		}

		/*
    		.lightbox {
	    		top: 10px !important;
    		}
		*/

		/* fix scroll issue on mobile phones w/lightbox */
		/*
		.lb-disable-scrolling {
	    		overflow: hidden;
   		}

   		.lb-outerContainer {
   	    		overflow: hidden;
   		}
		*/
	}
